body {background-color: red;
}
h1 {color: white;
	 font-size: 20vw;
	 line-height: 15vw;
    font-family: Oswald, Sans-serif;
	 text-align: center;
	 letter-spacing: -10px;
	 margin: -20px;
	 padding: 0px;
   }
p {color: black;
  font-size: 50px;
	text-align: center;
	text-decoration-skip: ink;
	font-family: Poppins, sans-serif;
	line-height: 30px;
	margin: -100px 100px 0px 100px;
	padding: 0px;
  }
